# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Projetos/Media-escolar/Makefile.win
Projetos/Media-escolar/Media-escolar.dev
Projetos/Media-escolar/Media-escolar.layout
Projetos/Cliente_Servidor/Cliente.dev
Projetos/Cliente_Servidor/Cliente.layout
Projetos/Cliente_Servidor/Makefile.win
Projetos/Cliente_Servidor/Servidor.dev
Projetos/Cliente_Servidor/Servidor.layout
Projetos/Calculadora_2.0/Calculadora_2.0.dev
Projetos/Calculadora_2.0/Calculadora_2.0.layout
Projetos/Calculadora_2.0/Makefile.win
